.board {
    display: flex;
    flex-direction: column;
    border: 2px solid #282c34;;
}

.board-row {
    display: flex;
}

.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(35vw / 7);
    height: calc(35vw / 7);
    border: 1px solid black;
    transition: all 0.3s
}

.board-cell:hover {
    background-color: rgb(236, 132, 132);
}

.hit {
    position: relative;
}

.hit::before,
.hit::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: red;  /* Or any color you prefer */
}

.hit::before {
    transform: rotate(45deg);
}

.hit::after {
    transform: rotate(-45deg);
}

/* .miss {
    background-color: rgb(10, 105, 74);
} */
.miss {
    position: relative;
    transition: all 1s
}

.miss::before,
.miss::after {
    content: "";
    position:absolute;
    width: 5px;
    height: 5px;
    background: red;
    border-radius: 2px;
}

.active {
    border: 2px solid green;
}

.board-cell.highlighted {
    background-color: rgb(105, 105, 80); /* Or any other color */
}

.ship {
    background-color: rgb(35, 28, 131);
}

.placement {
    background-color: white;
}